@font-face {
    font-family: "Junicode";
    src: url("/fonts/junicoderegular.ttf");
}

body {
    font-family: "Garamond", "Garamond Premr Pro Med", "Junicode";
}

.box-source {
    font-family: "Garamond", "Garamond Premr Pro Med", "Junicode"; 
}

#menu, .box-output, .box-source {
    font-size: 14pt;
}

/* BODY TEXT */

.column code {
    font-family: Consolas, Monaco, "Bitstream Vera Sans Mono";
}