@font-face {
    font-family: "Junicode";
    src: url("/fonts/junicoderegular.ttf");
}

body {
    font-family: "Junicode";
}

.box-source {
    font-family: "Junicode"; 
}

/* BODY TEXT */

.column code {
    font-family: Consolas, Monaco, "Bitstream Vera Sans Mono";
}