@font-face {
    font-family: "Bitstream Vera Sans Mono";
    src: url("/fonts/VeraMono.ttf");
}

body {
    font-family: "Bitstream Vera Sans Mono";
}

.box-source {
    font-family: "Bitstream Vera Sans Mono"; 
}

/* BODY TEXT */

.column code {
    font-family: "Bitstream Vera Sans Mono";
}