@font-face {
    font-family: "MgOpen Cosmetica";
    src: url("/fonts/mgopencosmeticaregular.ttf");
}

body, .box-source {
    font-family: "Optima", "Optima LT Std", "MgOpen Cosmetica";
}

/* BODY TEXT */

.column code {
    font-family: monospace, Consolas, Monaco, "Bitstream Vera Sans Mono";
    font-size: 80%;
    white-space: pre-wrap;
}