@font-face {
    font-family: "Gentium Book Basic";
    src: url("/fonts/genbkbasr.ttf");
}

body {
    font-family: "Gentium Book Basic";
}

.box-source {
    font-family: "Gentium Book Basic"; 
}
