/* BACKGROUND AND FOREGROUND */

body {
    /*  background-image: url("/img/dark-background-ground.png"), url("/img/dark-background-top.png");
        background-color: black;
        background-repeat: no-repeat, repeat;
        background-size: cover, auto;*/
    background-image: url("/img/subtle-dark-background.png");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

.box, .box-source, .box-output, .box-button {
    color: white;
}

.box-source {
    border-left: 1px solid white;
}

/* TEXT: BLACK DROP SHADOW */

.box, .box-source, .box-output, .box-button, #notify-area, #menu a {
    text-shadow: #000 2px 2px 4px, #000 2px 2px 4px, #000 2px 2px 4px;
}

/* TEXT: WHITE GLOW */

.active .box-button, #menu a:hover {
    text-shadow: #fff 0px 0px 6px, #fff 0px 0px 4px;
}


/* NOTIFY AREA */

#notify-area {
    background-color: rgba(0,0,0,0.8);
    color: white;
    box-shadow: 0px 0px 4px #fff;
    border-radius: 5px;
}

/* MENU */

#menu {
    background-color: rgba(0,0,0,0.8);
    box-shadow: 0px 0px 4px #fff;    
    color: #fff;
}

#menu a {
    color: #fff;
    font-variant: small-caps;
    text-align: center;
}

#menuanchor {
    color: white;
    background-color: rgba(0,0,0,0.5);
}

/* BODY TEXT */

.column a {
    color: white;
}

