/* BACKGROUND AND FOREGROUND */

body {
    background-image: url("/img/wood-background.png");
    background-size: cover;
}

.box, .box-source, .box-output, .box-button {
    color: black;
}

.box-source {
    border-left: 1px solid black;
}

/* WHITE SHEET */

.column {
    background-color: white;
    box-shadow: 4px 4px 8px #000, 2px 2px 8px #000, 2px 2px 16px #000;
}

/* TEXT: BLACK DROP SHADOW */

#notify-area, #menu a {
    color: white
    text-shadow: #000 2px 2px 4px, #000 2px 2px 4px, #000 2px 2px 4px;
}

/* TEXT: WHITE GLOW */

.active .box-button, #menu a:hover {
    text-shadow: #fff 0px 0px 6px, #fff 0px 0px 4px;
}


/* NOTIFY AREA */

#notify-area {
    background-color: rgba(0,0,0,0.8);
    color: white;
    box-shadow: 0px 0px 4px #fff;
    border-radius: 5px;
}

/* MENU */

#menu {
    background-color: rgba(0,0,0,0.8);
    box-shadow: 0px 0px 4px #fff;    
}

#menu a {
    color: #fff;
    font-variant: small-caps;
    text-align: center;
}

#menuanchor {
    color: white;
    background-color: rgba(0,0,0,0.5);
}

/* BODY TEXT */

.column a {
    color: white;
}