/* BACKGROUND AND FOREGROUND */

body {
  background-image: url("/img/paper-background-2000.png");
}

.box, .box-source, .box-output, .box-button {
  color: black;
}

.box-source {
    border-left: 1px solid black;
}

/* TEXT: WHITE HALO */

.box, .box-source, .box-output, .box-button, #notify-area, #menu a {
    text-shadow: #fff 0px 0px 3px, #fff 0px 0px 2px, #fff 0px 0px 1px;
}

/* TEXT: RED GLOW */

.active .box-button, #menu a:hover {
    color: white;
    text-shadow: #c40000 0px 0px 4px, #c40000 0px 0px 2px, #fff 0px 0px 1px;
}


/* NOTIFY AREA */

#notify-area {
    background-color: rgba(255,255,255,0.7);
    color: black;
    box-shadow: 0px 0px 4px #000;
    border-radius: 5px;
}

/* MENU */

#menu {
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0px 0px 4px #000;    
}

#menu a {
    color: black;
    font-variant: small-caps;
    text-align: center;
}

#menuanchor {
    color: #555;
    background-color: rgba(255,255,255,0.5);
}