/* MAIN */

html {
    height: 100%;
}

body {
    background-position: 50% 0%;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    border: 0;
    height: 100%;
}

.box, .box-source, .box-output, .box-button {
    background: transparent;
}

.box-output, .box-source {
    font-size: 12pt;
    /* for debugging: */
    /* border: 1px solid white; */
}

.box-source {
    white-space: pre-wrap;
    outline: 0px solid transparent;
}

.box-button {
    font-weight: bold;
    float: left;
    width: 20px;
    margin: 0;
    padding: 0;
}

.box-source, .box-output {
    text-align: justify;
}

.column {
    margin: auto;
    padding: 40px 20px 100px 20px;
}


#scroll-area {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    overflow-y: scroll;
}

/* NOTIFY AREA */

#notify-area {
    padding: 10px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    right: 50px;
}

/* MENU */

#menu {
    position: absolute;
    width: 400px;
    padding: 30px;
}

#menu a {
    display: block;
    cursor: pointer;
    padding: 5px;
    margin: auto;
}

#menuanchor {
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px;
}

/* HIDE SCROLLBAR */

/* this does not work, as these properties are IE specific */

.hidescroll {
    scrollbar-shadow-color: rgba(0,0,0,0);
    scrollbar-highlight-color: rgba(0,0,0,0);
    scrollbar-face-color: rgba(0,0,0,0);
    scrollbar-3dlight-color: rgba(0,0,0,0);
    scrollbar-darkshadow-color: rgba(0,0,0,0);
    scrollbar-track-color: rgba(0,0,0,0);
    scrollbar-arrow-color: rgba(0,0,0,0);
}

/* CODE PANEL */

#code-panel {
    padding: 20px;
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
    background: rgba(0,0,0,0.7);
}

#code-panel textarea {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    font-family: Consolas, Monaco, "Bitstream Vera Sans Mono", Ubuntu, mono;
    color: white;
    text-shadow: #000 2px 2px 4px, #000 2px 2px 4px, #000 2px 2px 4px, #000 2px 2px 4px, #000 2px 2px 4px;
    font-size: 10pt;
}