/* MAIN */

html {
    height: 100%;
}

body {
  background-position: 50% 0%;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
}

.hidden {
    display: none;
}

.box, .box-source, .box-output, .box-button {
  padding: 0px;
  margin: 1em;
  background: transparent;
}

.box-output, .box-source {
    font-size: 12pt;
}

.box-source {
    white-space: pre-wrap;
    padding-left: 20px !important;
    outline: 0px solid transparent;
}

.box-output p {
    margin: 0;
}

.box-container {
  /*overflow: hidden;*/
  margin: 1em;
  /*width: 660px;*/
}

.box-button {
  font-weight: bold;
  float: left;
  width: 20px;
  margin: 0;
  padding: 0;
}

.box-source, .box-output {
  /*float: right;*/
  /*margin: 0 6px 6px 0;*/
  margin: 0;
  padding: 0;
  text-align: justify;
  /*width: 770px; */
}

.column {
  max-width: 700px;
  margin: auto;
  padding: 40px 20px 100px 20px;
}


#scroll-area {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    overflow-y: scroll;
}

/* NOTIFY AREA */

#notify-area {
    padding: 10px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    right: 50px;
}

/* MENU */

#menu {
    position: absolute;
    width: 400px;
    padding: 30px;
}

#menu a {
    display: block;
    cursor: pointer;
    padding: 5px;
    margin: auto;
}

#menuanchor {
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;
    padding: 5px;
}