/* the "one-column" and "two-column" css files define the css properties that are only relevant to the one- and two-colum display modes, respectively */

.hidden {
}

.box-source {
    float: right;
    padding-left: 20px !important;
}

.box-output {
    float: left;
}

.box-output p {
    margin: 0;
}

.box-container {
    padding: 10px;
    margin: 1em;
    overflow: hidden;
}

.box-source, .box-output {
    margin: 0;
    padding: 0;
    width: 45%;
}

.column {
}