@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/ubunturegular.ttf");
}

body {
    font-family: "Ubuntu";
}

.box-source {
    font-family: "Ubuntu"; 
}

/* BODY TEXT */

.column code {
    font-family: Consolas, Monaco, "Bitstream Vera Sans Mono";
}